@font-face {
    font-family: quicksand;
    src: url(/fonts/Quicksand-VariableFont_wght.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'quicksand', sans-serif;
}



body {
    background: #111;
    max-width: 100%;
    overflow-x: hidden;
}

/* Nav Bar  */


.navbar {
    background: #131313;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 25px;
}

#navbar__logo {
    background-color: #ddd3d3;
    background-image: linear-gradient(to top, #818181 0%,#e3dcdc 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    background-size: 100%;
    -webkit-bacground-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.img__navbar {
    height: auto;
    width: auto;
    max-height: 72px;
    max-width: 250px;
    margin-right: 15px;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: #aba7a7;
    color: #fff;
}

.button:hover {
    background-image: linear-gradient(to top, #818181 0%,#e3dcdc 100%);
    transition: all 0.3s ease;
}

.navbar__links:hover {
    color: #818181;
    transition: all 0.3s ease;
}

.navbar__container .bar{
    display: block;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

/* social meadia navbar  */
@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: #131313;
    }

    .navbar__menu.active {
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }


    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }
    
    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__btn {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    .navbar__toggle .bar{
        display: block;
        cursor: pointer;
    }


    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;

    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}



/* Hero section CSS*/



/* Landing Page  */

.main__container {
    background-color: #141414;
}

.showcase {
    right: 0;
    width: 100%;
    height: 90vh;
    align-items: center;
    background: #111;
    color: #fff;
    z-index: 1;
}

.landingPageContainer{
    pointer-events: none;
}

.landingPage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
    -webkit-touch-callout: none;
}

.main__content {
    position: fixed;
    left: 25px;
    z-index: 2;
    transition: top 0.3s;
}

.main__content__text{
    position: fixed;
    bottom: 100px;
}

.button__holder{
    position: fixed;
    bottom: 20px;
}

.btnNone{
    display: none;
    transition: opacity 4s ease-out;
}



.main__content h1 {
    font-size: 90px;
    font-weight: lighter;
    line-height: 1em;
    text-transform: uppercase;
    transition: opacity 0.5s ease-out;
}

.main__content h3 {
    font-size: 50px;
    line-height: 1em;
    text-transform: uppercase;
    max-width: 550px;
    transition: opacity 0.5s ease-out;
}

.main__content .main__btn {
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 15px 20px;
    margin-top: 30px;
    height: 50px;
    width: 300px;
    border: none;
    outline: none;
    border-radius: 33px;
    background-color: #aba7a7;
    color: #fff;
    margin-left: 30px;
    font-size: 1em;
    letter-spacing: 2px;
    transition: opacity 2s ease-out;
    z-index: 3;
}

.main__content .main__btn:hover {
    background-image: linear-gradient(to top, #818181 0%,#e3dcdc 100%);
    transition: all 0.3s ease;
    cursor: pointer;
    letter-spacing: 3px;
}


@media screen and (max-width: 767px) {
    .main__content h1 {
        font-size: 47px;
    }

    .main__content h3 {
        font-size: 29px;
    }
    
    .main__content .main__btn{
        width: 200px;
        margin-left: 10px;
        padding: 5px 10px;
    }
    
}

/* About us section  */



.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 65vh;
    justify-self: center;
    background-color: #818181;
    color: #fff;
    z-index: 10;
    overflow: hidden;
}


.about__text {
    opacity: 0.2;
    transition: opacity 1s ease-in-out;
    width: 540px;
    padding-top: 80px;
}

.about-left{
    padding-left: 60px;
}

.about-right{
    padding-right: 60px;
}

.about__text h2 {
    font-size: 1.7em;
    margin-bottom: 40px;
}

.about__text h3 {
    font-weight: 600;
}


.about__text p {
    font-size: 1.1em;
    margin-top: 15px;
}

#more, #us-more{
    display: none;
}

.readBtn{
    margin-top: 15px;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 100;
    text-decoration: underline;
}

.readBtn:hover{
    font-weight: 150;
    font-size: 16px;
    

}

@media screen and (max-width: 960px) {
    .about{
        grid-template-columns: 100%;
        height: 110vh;
        margin-top: 0;
    }

    .about__text {
        width: 100%;
        padding-left: 50px;
        padding-right: 50px;
    }

    .about-right{
        padding-top: 0px;
    }
    
    .about__text h2 {
        text-align: center;
    }
}

/* palvelut section  */


.palvelut {
    position: relative;
    display: flex;
    padding-top: 60px;
    z-index: 10;
    height: 205vh;
    background: #111;
    text-align: center;
    padding-left: 120px;
    padding-right: 120px;
    gap:5vmin;
    pointer-events: none;
}

.column__right{
    flex: 1;
    margin-right: 50px;
}

.servicePic{
   width: 250px;
   user-select: none;
    -webkit-touch-callout: none;
}
.servicePic:first-child {
    margin-top: 50px;
}
.servicePic:not(first-child) {
    margin-top: 170px;
}

.discriptionPic, .mobileServicePic{
    display: none;
}

.mobileServicePic{
    user-select: none;
    -webkit-touch-callout: none;
}

.sboxImg{
    width: 350px;
    height: 250px;
}

/* text and descriptions  */

.column__left{
    flex: 2;
    
}

.description {
    color: #fff;
    transition: opacity 1s ease-in-out;
    width: 600px;
}

.description:first-child {
    margin-top: 100px;
}

.description:not(first-child){
    margin-top: 130px;
}


.description h3 {
    font-size: 3em;
}

.description p {
    font-size: 1.3em;
    margin-top: 15px;
}



/* image track  */

.image-track {
    text-align: center;
    align-items: center;
    display: flex;
    background: #111;
    z-index: 11;
    gap: 4vmin;
    left: 50%; transform: translate(0%, 0%);
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    padding-inline-start: 30px;
    padding-inline-end: 30px;
    padding-bottom: 75px;
}

.image-track::-webkit-scrollbar {
    display: none;
}

.image-track .sPic{
    width: 270px;
    height: 350px;
    object-fit: cover;
    object-position: 100% 50%;
    background: #111;
    user-select: none;
    -webkit-touch-callout: none;
}







@media screen and (max-width: 960px) {

    .palvelut{
        flex-direction: column;
        align-items: center;
        padding-top: 110px;
        padding-left: 30px;
        padding-right: 30px;
        height: 280vh;
    }

    .column__left {
        height: 200vh;
    }

    .description{
        width: 100%;
    }
    .description:first-child {
        margin-top: 10px;
    }
    
    .description:not(first-child){
        margin-top: 100px;
    }

    .lastones{
        padding-top: 30px;
        margin-bottom: 10px;
        padding-top: 15px;
    }
    .descriptionPic{
        margin-top: 70px;
        display: flex;
        width: 100%;
        justify-content: center;
        height: 150px;
        
    }

    .mobileServicePic{
        display: flex;
    }

    /* image-track  */

    .column__right {
        display: none;
    }

    .servicePic{
        display: none;
    }

    .image-track {
        text-align: center;
        align-items: center;
        display: flex;
        background: #111;
        z-index: 11;
        gap: 4vmin;
        left: 50%; transform: translate(0%, 0%);
        overflow-x: auto;
        overscroll-behavior-inline: contain;
        padding-inline-start: 30px;
        padding-inline-end: 30px;
        padding-bottom: 50px;
    }

    .image-track::-webkit-scrollbar {
        display: none;
    }

    .image-track .sPic{
        object-fit: cover;
        object-position: 100% 50%;
        background: #111;
        user-select: none;
        -webkit-touch-callout: none;
    }

    
}



@media screen and (max-width: 500px){
    .column__left{
        margin-top: 55px;
    }

    .image-track .sPic{
        width: 220px;
        height: 300px;
    }
}




/* contact form  */

 /* form section  */
 .form--section{
    position: relative;
    z-index: 12;
    background-color: #818181;
}

.form--container{
    margin: 0 auto;
    max-width: 900px;
    width: 100%;
    height: 130vh;
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.2);
    align-items: center;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: -5;
}

/* heading  */
.form--heading{
    font-weight: normal;
    padding: 20px;
    color: #fff;
    text-align: center;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.1);
}

.form--heading h2{
    font-size: 3em;
    margin-top: 20px;
    margin-bottom: 40px;
}

.form--heading p {
    font-size: 1.3em;
}


/* inner part  */

.form--inner{
    padding: 60px;
}


/* contact info and message */

.name--info{
    display: flex;
    justify-content: space-between;
}

.email--phone{
    display: flex;
    justify-content: space-between;
}

.info--box, .message--box {
    position: relative;
    margin-bottom: 30px;

}

.input--text, textarea, .input--phone {
    width: 300px;
    height: 45px;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    color: #fff;
    font-size: 14px;
}

.input--text:focus,
.input--phone:focus,
.textarea:focus{
    outline: 0;
    border-bottom: 2px solid #fff;
}

.input--phone:focus ~ .form-label,
.input--phone:not(:placeholder-shown):not(:focus) ~.form-label{
    top: -15px;
    left: 0;
    font-size: 11px;
}

.input--text:focus ~ .form-label,
.input--text:not(:focus):valid ~ .form-label{
    top: -15px;
    left: 0;
    font-size: 11px;
}



textarea{
    margin-top: 30px;
    min-height: 80px;
    width: 100%;
    margin-bottom: 10px;;
}

textarea:focus ~ .message-label,
textarea:not(:focus):valid ~ .message-label{
    top: 10px;
    left: 0;
    font-size: 11px;
}

.form-label, .message-label{
    position: absolute;
    pointer-events: none;
    transition: .2s ease all;
    font-size: 16px;
    color: #fff;
    top: 15px;
    left: 1px;
     
}
.message-label{
    top: 30px;
}

.message--image{
    margin-top: 30px;
    color: #fff;
}


/* picture  */


.drop--zone{
    margin-top: 25px;
    margin-bottom: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    gap: 20px;
}

.drop--zone--text{
    flex: 1;
    font-size: 20px;
}

.drop--zone--image{
    flex: 2;
    width: 150px;
    height: 150px;
    padding: 15px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    border-radius: 10px;
    z-index: 5;
}

.drop--zone--input{
    width: 300px;
    height: 200px;
    max-height: 100%;
    max-width: 100%;
    
    color: #fff;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.15);
    border: 2px #fff dashed;
    border-radius: 10px;
    cursor: pointer;
}


.drop--zone--input:hover{
    border: 2px #fff solid;
}

.drop--zone--input::-webkit-file-upload-button{
    color: #fff;
    margin-top: 30px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background:none;
    transition: all 0.3s ease;
}


.drop--zone--prompt{
   display: none;
}


/* submit Button  */

.submit--button{
    cursor: pointer;
    border-radius: 3px;
    padding: 15px;
    width: 100%;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
    border: none;
    font-size: 16px;
    background: transparent;
    color: #fff;
}

.submit--button:hover{
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.4);
}
.submit--button:focus{
    outline: 0;
}

@media screen and (max-width: 960px) {
    .form--container{
        max-width: 550px;
        height: 165vh;
    }

    .name--info{
        flex-direction: column;
        align-items: center;
    }

    .email--phone{
        flex-direction: column;
        align-items: center;
    }

    .input--text, textarea, .input--phone {
        width: 400px;
        max-width: 100%;
    }

}

/* new image track */

.new_imgtrack{
    margin-top: 70px;
}

/* business  */

.business__box {
    display: none;
}

.business__section {
    display: flex;
    color: #fff;
    background: #111;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.business {
    padding: 50px 80px 30px 80px;
    max-width: 1000px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.business h2 {
    text-align: center;
    font-size: 3em;
    margin-bottom: 30px;
}

.business h4 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 30px;
}

.business p {
    font-size: 1.3em;
    margin-bottom: 40px;
}

.business button {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2em;
    border-radius: 15px;
    height: 60px;
    width: 100%;
    cursor: pointer;
    text-decoration: none;
}
.business a {
    text-decoration: none;
}


/* some  */

.some {
    height: 35vh;
    background: #111;
}

.some-container{
    width: 100%;
    padding-top: 50px;
    padding-left: 75px;
    padding-right: 75px;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #fff;
}

.some-text{
    margin-bottom: 50px;
}

.some-icons{
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 150px;
}

.fa-brands{
    color: #fff;
    z-index: 15;
    font-size: 130px;
}


